{% extends 'base.html'%}
{% load staticfiles %}
{% block title %} About {% endblock %}
{% block body_block %}
    <div class="page-header">
        <h1>About.</h1><br />
        <button onclick="alert('Javascript');">
            Click me - I run JS
        </button>

        <button id="about-btn">Click Me - I'm JS on Speed</button>
        <p>This is a example</p>
        <p>This is another example</p>
    </div>
    <h1> You have visited the site {{ visits }} times.</h1>
    <img src="{% static '/media/rango.jpg' %}" alt="Rango Image" />

{% endblock %}